/* header */
html {
    font-family: 'Roboto', sans-serif;
    background: #fff;
}
.header_mobile {
    display: none;
}
.header_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 176px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.06);
}
.wrapper {
    background: #F2F2F2;
}
.container {
    box-sizing: border-box;
    width: 1144px;
    margin: 0 auto;
}
.header_container {
    display: flex;
    justify-content: space-between;
}

.header_container-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-right: 13px;
}
.header_logo {
    display: flex;
    height: 92px;
}
.header_info {
    display: flex;
}
.header_info-item {
    font-size: 14px;
    line-height: 24px;
}
.header_tel {
    color: #7D4670;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    margin-right: 13px;
}
.header_tel-two {
    display: none;
    color: #7D4670;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    margin-right: 13px;
}
.header_nav {
    display: flex;
    flex-direction: column;
}
.header_nav-item:not(:last-child) {
    margin-right: 22px;
}
.header_nav-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
}
.header_nav-menu {
    display: flex;
}
.header_email {
    font-size: 14px;
    line-height: 24px;
}
.header_container-social {
    display: flex;
    justify-content: end;
    margin-bottom: 20px;
}
.social {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: #FFFFFF;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.11);
}
.social path:hover {
    fill: #fff;
}
.social:not(:last-child) {
    margin-right: 6px;
}
.social:hover {
    background: #7D4670;
}
.search-input {
    width: 147px;
    border-bottom: 1px solid #c4c4c4;
}
.search-container {
    display: flex;
    align-items: flex-end;
}
.margin-0:not(:last-child) {
    margin: 0;
}
/* slideshow */
.main_slideshow {
    display: flex;
    height: 660px;
}
.main_slideshow-left {
    width: 340px;
    margin-top: 63px;
}
.main_slideshow-center {
    width: 100%;
}
.main_slideshow-right {
    display: flex;
    width: 100%;
}
.main_slideshow-left-h2 {
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    text-transform: uppercase; 
    color: #7E7753;
    margin: 0;
}
.main_slideshow-left-h1 {
    font-weight: 900;
    font-size: 120px;
    line-height: 141px;
    color: #7D4670;
    margin: 0 0 20px 0;
}
.main_slideshow-left-sale {
    font-weight: 900;
    font-size: 80px;
    line-height: 94px;
    color: #000000;
    margin: 0;
}
.main_slideshow-left-desc {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin: 0 0 50px 0;
}
.main_slideshow-btn {
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    width: 339px;
    height: 70px;
    background: #7D4670;
    box-shadow: 0px 11px 26px rgba(125, 70, 112, 0.68);
    border-radius: 90px;
}
.main_slideshow-background {
    position: absolute;
    z-index: -1;
    width: 270px;
    height: 100%;
    left: 949px;
    background: #91630A;
}
.main_slideshow-img-block {
    position: absolute;
    display: block;
    margin: 102px 0 0 20px;
}
.main_slideshow-img-block-mobile {
    display: none;
}
.main_slideshow-imgup {
    position: relative;
    z-index: 30;
}
.main_slideshow-imgdown {
    position: relative;
    z-index: -1;
    right: 315px;
    top: 5px;
    filter: brightness(0);
    opacity: 0.1;
}
.main_slideshow-right {
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, rgba(145,99,10,1) 50%, rgba(255,255,255,1) 50%);
    z-index: -1;
}
.main_slideshow-item {
    display: flex;
    align-content: end;
}
.main_slideshow-item:not(:last-child) {
    margin-bottom: 72px;
}
.main_slideshow-icon {
    margin-right: 19px;
}
.main_slideshow-point {
    display: flex;
    align-self: center;
    width: 7px;
    height: 7px;
    background: #AFAFAF;
    border-radius: 50%;
    margin-right: 8px;
}
.main_slideshow-line {
    display: flex;
    align-self: center;
    width: 66px;
    height: 1px;
    background: #AFAFAF;
    margin-right: 18px;
}
.main_slideshow-text {
    display: flex;
    margin: 0;
    font-weight: bold;
    font-size: 19px;
    line-height: 22px;
}
.main_slideshow-list {
    padding: 0 25px;
}


/* main */
.main_content-h1 {
    font-weight: 900;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #7D4670;
    padding: 50px 0 50px 0;
    margin: 0;
}
.main_content-line {
    display: flex;
    justify-self: center;
    width: 53px;
    height: 4px;
    background: #7E7753;
    margin: 0 auto;
}
.catalog_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 60px 0;
    
}
.catalog_item {
    display: flex;
    flex-direction: column;
    flex: 0 0 22%;
    height: 367px;
    background: #7D4670;
    border-radius: 8px;
    margin-bottom: 32px;
}
.catalog_item:not(:nth-child(4n)):not(:last-child) {
    margin-right: 30px;
}
.catalog_item-img-one {
    background: url(/img/Rectangle\ 2581.png) center;
    background-size: cover;
}
.catalog_item-img-two {
    background: url(/img/Rectangle\ 2582.png) center;
    background-size: cover;
}
.catalog_item-img-three {
    background: url(/img/Rectangle\ 2583.png) center;
    background-size: cover;
}
.catalog_item-img-four {
    background: url(/img/Rectangle\ 2584.png) center;
    background-size: cover;
}
.catalog_item-img-five {
    background: url(/img/Rectangle\ 2589.png) center;
    background-size: cover;
}
.catalog_item-img-six {
    background: url(/img/Rectangle\ 2590.png) center;
    background-size: cover;
}
.catalog_item-img-seven {
    background: url(/img/Rectangle\ 2591.png) center;
    background-size: cover;
}
.catalog_item-img-eith {
    background: url(/img/Rectangle\ 2592.png) center;
    background-size: cover;
}
.catalog_item-img-nine {
    background: url(/img/Rectangle\ 2595.png) center;
    background-size: cover;
}
.catalog_item-img-ten {
    background: url(/img/Rectangle\ 2596.png) center;
    background-size: cover;
}
.catalog_item-img {
    display: flex;
    justify-content: center;
    height: 262px;
    margin: 18px;
}
.catalog_item-desc {
    width: 180px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
}


/* benefits */

.benefits {
    background: #fff;
    padding-bottom: 50px;
}
.benefits_content {
    display: flex;
    justify-content: center;
}
.benefits_desc {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;
    margin: 0;
}



/* footer */

.footer_container {
    display: flex;
    justify-content: space-between;
    height: 214px;
    background: linear-gradient(125deg, rgba(242,242,242,1) 40%, rgba(125,70,112,1) 40%);
}
.align-center {
    display: flex;
    height: 100%;
    align-items: center;
}
.height {
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.footer_right {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    width: 620px;
}
.footer_right-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 26px;
}
.footer_nav-menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 200px;
    height: 90px;
}
.footer_nav-item {
    font-size: 14px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #FFFFFF;
    padding-bottom: 6px;
}
.footer_contacts {
    display: flex;
    flex-direction: column;
}
.phone {
    display: flex;
}
.footer_tel {
    font-weight: bold;
    font-size: 30px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 21px;
}
.footer_icon {
    margin-right: 10px;
}
.mail {
    display: flex;
    justify-content: end;
    text-align: right;
    font-size: 14px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #FFFFFF;
}
.footer_right-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.copy {
    font-size: 14px;
    line-height: 24px;
    color: #989797;
    margin-right: 10px;
}
.footer_line {
    width: 214px;
    height: 1px;
    left: 1099px;
    top: 2936px;
    background: #989797;
    margin-right: 8px;
}
.footer_right-bottom p {
    display: flex;
    justify-content: end;
    text-align: right;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 12px;
}
.footer_container-social {
    display: flex;
    justify-content: end;
    align-content: center;
}

/* media */

@media (max-width: 480px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }
    .burger {
        display: block;
    }
    .header_wrapper {
        height: 120px;
    }
    .main_slideshow {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        margin: auto 0;
    }
    .header_tel-two {
        margin-right: 0;
    }
    .catalog_item:not(:nth-child(4n)):not(:last-child) {
        margin-right: 0px;
    }
    .catalog_item:not(:nth-child(2n)):not(:last-child) {
        margin-right: 10px;
    }
    .catalog_item {
        flex: 0 0 48%;
        height: 240px;
        margin-bottom: 10px;
    }
    .catalog_item-img {
        height: 160px;
        margin: 10px;
    }

    .header_logo {
        height: 60px;
    }
    .header_nav-menu {
        display: none;
    }
    .header_info {
        display: none;
    }
    .header_search {
        display: none;
    }
    .header_contacts {
        display: flex;
    }
    .header_email {
        display: none;
    }
    .header_tel {
        display: none;
    }
    .header_tel-two {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .header_container-left {
        display: none;
    }
    .header_container-right {
        display: none;
    }
    .main_slideshow-background {
        display: none;
    }
    .main_slideshow-img-block {
        display: none;
    }
    .footer_right {
        display: none;
    }
    .benefits_content {
        display: flex;
        flex-wrap: wrap;
    }
    .main_slideshow-text {
        font-size: 14px;
    }
    .catalog_item-desc {
        font-size: 12px;
        width: 120px;
    }
    .main_slideshow-btn {
        font-size: 18px;
        width: 100%;
    }
    .header_mobile {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .header_mobile-buttom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .header_container-social {
        margin-bottom: 0;
        margin: 10px 0;
    }
    .main_slideshow-left-h2 {
        font-size: 38px;
    }
    .main_slideshow-left-h1 {
        font-size: 105px;
    }
    .main_slideshow-left {
        width: 280px;
        margin-bottom: 50px;
    }
    .main_slideshow-list {
        padding: 50px 10px;
    }
    .main_slideshow-right {
        display: flex;
        justify-content: center;
        flex-direction: column;
        background: linear-gradient(90deg, rgba(145,99,10,1) 50%, rgba(255,255,255,1) 50%);
    }
    .main_slideshow-line {
        width: 35px;
    }




    .footer_container {
        display: flex;
        justify-content: space-between;

        height: 520px;
        background: rgba(125,70,112,1);
    }
    .align-center {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
    .height {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 500px;
    }
    .footer_right {
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }
    .footer_right-top {
        flex-direction: column;
    }
    .footer_nav-menu {
        margin-bottom: 35px;
    }
    .footer_contacts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
    }
    .phone {
        display: flex;
    }

    .mail {
        justify-content: center;
        text-align: center;
    }
    .footer_right-top {
        height: 200px;
    }
    .footer_right-bottom {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
        height: 120px;
    }
    .copy {
        margin-right: 0px;
    }
    .footer_line {
        margin: 25px 0;
    }
    .footer_right-bottom p {
        display: none;
    }
    .footer_container-social {
        display: flex;
        justify-content: center;
        align-content: center;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .container {
        box-sizing: border-box;
        width: 100%;
        padding: 0 15px;
    }
    .burger {
        display: block;
    }
    .header_wrapper {
        height: 120px;
    }
    .main_slideshow {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        margin: auto 0;
    }
    .header_tel-two {
        margin-right: 0;
    }
    .catalog_item:not(:nth-child(4n)):not(:last-child) {
        margin-right: 0px;
    }
    .catalog_item:not(:nth-child(3n)):not(:last-child) {
        margin-right: 10px;
    }
    .catalog_item {
        flex: 0 0 31%;
        height: 270px;
        margin-bottom: 10px;
    }
    .catalog_item-img {
        height: 180px;
        margin: 10px;
    }

    .header_logo {
        height: 70px;
    }
    .header_nav-menu {
        display: none;
    }
    .header_info {
        display: none;
    }
    .header_search {
        display: none;
    }
    .header_contacts {
        display: flex;
    }
    .header_email {
        display: none;
    }
    .header_tel {
        display: none;
    }
    .header_tel-two {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .header_container-left {
        display: none;
    }
    .header_container-right {
        display: none;
    }
    .main_slideshow-background {
        display: none;
    }
    .main_slideshow-img-block {
        display: none;
    }
    .footer_right {
        display: none;
    }
    .benefits_content {
        display: flex;
        flex-wrap: wrap;
    }
    .main_slideshow-text {
        font-size: 14px;
    }
    .catalog_item-desc {
        font-size: 12px;
        width: 120px;
    }
    .main_slideshow-btn {
        font-size: 18px;
        width: 100%;
    }
    .header_mobile {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .header_mobile-buttom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .header_container-social {
        margin-bottom: 0;
        margin: 10px 0;
    }
    .main_slideshow-left {
        width: 400px;
        margin-bottom: 50px;
    }
    .main_slideshow-left-h2 {
        text-align: center;
        font-size: 38px;
    }
    .main_slideshow-left-h1 {
        text-align: center;
        font-size: 105px;
    }
    .main_slideshow-list {
        padding: 50px 10px;
    }
    
    .main_slideshow-right {
        display: flex;
        justify-content: center;
        background: linear-gradient(90deg, rgba(145,99,10,1) 50%, rgba(255,255,255,1) 50%);
    }
    .main_slideshow-line {
        width: 50px;
    }
    


    .footer_container {
        display: flex;
        justify-content: space-between;

        height: 400px;
        background: rgba(125,70,112,1);
        padding-bottom: 50px;
    }
    .align-center {
        display: flex;
        height: 150px;
        align-items: center;
        justify-content: center;
    }
    .height {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 400px;
    }
    .footer_right {
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }
    .footer_right-top {
        flex-direction: column;
    }
    .footer_nav-menu {
        margin-bottom: 35px;
    }
    .footer_contacts {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-self: center;
    }
    .phone {
        display: flex;
    }

    .mail {
        justify-content: center;
        text-align: center;
        margin-left: 20px;
    }
    .footer_right-top {
        height: 120px;
    }
    .footer_right-bottom {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 120px;
    }
    .copy {
        margin-right: 0px;
    }
    .footer_line {
        margin: 0 10px;
        width: 100px;
    }
    .footer_right-bottom p {
        display: none;
    }
    .footer_container-social {
        display: flex;
        justify-content: center;
        align-content: center;
    }
}
@media (min-width: 768px) and (max-width: 950px) {
    .main_slideshow-center {
        display: none;
    }
    .main_slideshow-right {
        width: 400px;
        margin-left: 50px;
    }
    .main_slideshow {
        justify-content: center;
    }
    .container {
        box-sizing: border-box;
        width: 100%;
        padding: 0 15px;
    }
    .benefits_content {
        display: flex;
        flex-wrap: wrap;
    }
    .burger {
        display: block;
    }
    .header_wrapper {
        height: 120px;
    }
    .header_tel-two {
        margin-right: 0;
    }
    .catalog_item:not(:nth-child(4n)):not(:last-child) {
        margin-right: 0px;
    }
    .catalog_item:not(:nth-child(3n)):not(:last-child) {
        margin-right: 25px;
    }
    .catalog_item {
        flex: 0 0 31%;
        height: 400px;
        margin-bottom: 25px;
    }
    .catalog_item-img {
        height: 300px;
        margin: 10px;
    }

    .header_logo {
        height: 50px;
    }
    .header_container-social {
        display: none;
    }
    .header_search {
        display: none;
    }
    .footer_line {
        display: none;
    }
    .footer_right-bottom p {
        display: none;
    }
    .footer_right {
        width: 380px;
    }
    .footer_tel {
        font-size: 18px;
    }
    .align-center {
        height: 150px;
    }

}
@media (min-width: 950px) and (max-width: 1220px) {
    .main_slideshow-center {
        display: none;
    }
    .main_slideshow-right {
        width: 500px;
        margin-left: 100px;
    }
    .main_slideshow {
        justify-content: center;
    }
    .container {
        box-sizing: border-box;
        width: 100%;
        padding: 0 15px;
    }
    .burger {
        display: block;
    }
    .header_wrapper {
        height: 120px;
    }
    .header_tel-two {
        margin-right: 0;
    }
    .catalog_item:not(:nth-child(4n)):not(:last-child) {
        margin-right: 0px;
    }
    .catalog_item:not(:nth-child(3n)):not(:last-child) {
        margin-right: 25px;
    }
    .catalog_item {
        flex: 0 0 31%;
        height: 400px;
        margin-bottom: 25px;
    }
    .catalog_item-img {
        height: 300px;
        margin: 10px;
    }

    .header_logo {
        height: 70px;
    }
    .header_container-social {
        display: none;
    }
    .header_search {
        display: none;
    }
    .footer_right {
        width: 500px;
    }
    .footer_line {
        width: 60px;
    }
}





@keyframes bugfix {
    from {
      padding: 0;
    }
    to {
      padding: 0;
    }
  }
  @-webkit-keyframes bugfix {
    from {
      padding: 0;
    }
    to {
      padding: 0;
    }
  }
  #overlay-button {
    position: relative;
    right: 0px;
    top: 0px;
    height: 50px;
    padding: 5px 5px;
    z-index: 5;
    cursor: pointer;
    user-select: none;
  }
  #overlay-button span {
    height: 4px;
    width: 35px;
    border-radius: 2px;
    background-color: rgb(51, 44, 44);
    position: relative;
    display: block;
    transition: all .2s ease-in-out;
  }
  #overlay-button span:before {
    top: -10px;
    visibility: visible;
  }
  #overlay-button span:after {
    top: 10px;
  }
  #overlay-button span:before, #overlay-button span:after {
    height: 4px;
    width: 35px;
    border-radius: 2px;
    background-color: rgb(22, 21, 21);
    position: absolute;
    content: "";
    transition: all .2s ease-in-out;
  }
  #overlay-button:hover span, #overlay-button:hover span:before, #overlay-button:hover span:after {
    background: #333332;
  }
  
  input[type=checkbox] {
    display: none;
  }
  
  input[type=checkbox]:checked ~ #overlay {
    visibility: visible;
  }
  
  input[type=checkbox]:checked ~ #overlay-button:hover span, input[type=checkbox]:checked ~ #overlay-button span {
    background: transparent;
  }
  input[type=checkbox]:checked ~ #overlay-button span:before {
    transform: rotate(45deg) translate(7px, 7px);
    opacity: 1;
  }
  input[type=checkbox]:checked ~ #overlay-button span:after {
    transform: rotate(-45deg) translate(7px, -7px);
  }
  
  #overlay {
    height: 80vh;
    width: 95.5%;
    background: #7E7753;
    z-index: 2;
    visibility: hidden;
    position: absolute;
    padding-top: 50px;
    margin-top: 40px;
  }
  #overlay.active {
    visibility: visible;
  }
  #overlay ul {
    display: flex;
    justify-content: center;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    text-align: left;
    height: 100vh;
    padding-left: 0;
    list-style-type: none;
  }
  #overlay ul li {
    padding: 1em;
  }
  #overlay ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
  }
  #overlay ul li a:hover {
    color: #333332;
  }